<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Async Theory Mothod With AAA Pattern</Title>
            <Author>Renan de Carvalho Ribeiro</Author>
            <Description>Creates new Async test method with AAA (Arrange, Act and Assert) pattern.</Description>
            <Shortcut>tat</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[[Trait("CategoryName(IntegrationTest, UnitTest, etc.)", "CategoryValue(Controllers, Entity, Service, etc.)")]
[Theory(DisplayName = "Teste description")]
[InlineData("param1val", "param2val", ...)]
[InlineData("param1val", "param2val", ...)]
public async Task ObjectOrMethodName_BehaviorToTest_SpectedBehavior(string param1, string param2, ...)
{ 
// Arrange 

// Act 

// Assert 

}]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>